body {
    /* Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/plants?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-color: blueviolet;
    background-image: url('annie-spratt-8mqOw4DBBSg-unsplash.jpg');
    color: silver;
    font-family: 'Bilbo', cursive;
    margin: 0 auto;
}

header {
    font-size: 8rem;
    margin-top: 10rem;
    text-align: center;
    text-shadow: 3px 3px 5px grey;
}

main {

}

footer {

}